.box-add-experience {
    margin-top: 4em;
    text-align: center;
    padding-bottom: 2em;

    h3 {
        font-weight: 300;
        font-size: 3em; 
        color: @text-white;
    }

    p {
        font-weight: 300;
        font-size: 1.4em;
        font-style: italic; 
        color: @text-black;
    }
}

.experience {
    .box .section {
        padding-bottom: 2em; 
    }

    .box .article {
        padding-left: 0;
        padding-right: 0; 
    }

    .box-tags-footer {
        margin-bottom: 3em; 
    }


    @media only screen and (min-width: @screen-desktop) {
        .box {
            width: 30.3333333%;
            float: right;
            margin-bottom: 2.5em;
            
            .container {
                width: auto;
            } 

            .article-heading {
                text-decoration: none; 
                width: auto;
            }
        }

        .box-tags-header {
            background: @background-gray;
            
            .tags-box {
                margin-bottom: 0; 
            }
        }

        .box-tags-footer {
            display: none; 
        }

        .box-add-experience {
            margin-top: 0; 
        }
    }
}

.questions {
    .box-tags-footer {
        display: block; 

        .tags-box {
            padding: 0; 
        }

        h3 {
            font-size: 2.6em; 
            color: #fff;
            font-weight: 300;
            padding-left: 0;
        }

        .button {
            margin-bottom: 1.5em; 
        }

        @media only scree and (min-width: 768px) {
            .button {
                margin-top: 1.5em; 
                margin-bottom: 0;
            }
        }


        @media only screen and (max-width: 1199px) {
            background-color: @background-orange;
            &:before, &:after, .tags-box {
                background-color: @background-orange;
            } 
        }

        @media only screen and (min-width: 1200px) {
            .button {
                display: none; 
            } 

            h3 {
                display: none; 
            }
        }
    }

    

    .tags-full {
        display: none;

        .tags-box {
            padding: 0; 
        }

        h3 {
            font-size: 2.6em; 
            color: #fff;
            font-weight: 300;
            padding-left: 0;
        }

        .button {
            margin-top: 1.5em; 
        }

        @media only screen and (min-width: 1200px) {
            display: block; 
        }
    }

    .tags-full-header {
        display: none;

        .button {
            margin-top: 0; 
        } 


        @media only screen and (min-width: 1200px) {
            display: block; 
        }
    }
}
