.hero-image {
    background: transparent url('../../img/hero_bg_sm.jpg') 0 0 no-repeat;
    width: 100%;
    height: 392px;
    position: relative;

    @media only screen and (min-width: 375px) {
        background-image: url('../../img/hero_bg_sm_m.jpg'); 
        height: 594px;
    }

    @media only screen and (min-width: @screen-mobile) {
        background-image: url('../../img/hero_bg.jpg'); 
        height: 594px; 
    }

    @media only screen and (min-width: @screen-tablet) {
        background-image: url('../../img/hero_bg_l.jpg'); 
        background-size: cover;
        height: 573px;
    }

    .hero-heading {
        position: absolute;
        top: .5em;
        color: @text-white;
        font-size: 4em;
        line-height: 1em;
        text-align: center; 
        margin: 0;
        width: 100%;
        text-shadow: 2px 4px 2px rgba(0, 0, 0, .7);

        @media only screen and (min-width: @screen-desktop) {
            font-size: 6em; 
        }

        @media only screen and (min-width: @screen-tablet) {
            top: auto;
            bottom: .5em; 
        }
    }

    .hero-image-main {
        .hero-image-base(); 

        width: 6em; 
        padding: 6em;

        @media only screen and (min-width: 375px) {
            width: 7em;
            padding: 7em; 
        }

        @media only screen and (min-width: @screen-mobile) {
            width: 9em;
            padding: 9em; 
        }

        @media only screen and (min-width: @screen-tablet) {
            /*
            width: 14%;
            padding: 14%; 
            */
        }

        @media only screen and (min-width: @screen-desktop) {
            /*
            width: 10%;
            padding: 10%; 
            */
        }

        .border-radius(50%); 

        a {
            display: block;
            position: absolute;
            color: white;
            font-size: 1.4em;
            top: 44%;
            left: 20%;
            text-decoration: none;
        }
    }

    .hero-image-small {
        @media only screen and (min-width: @screen-tablet) {
            width: 7em;
            padding: 7em; 
        } 

        @media only screen and (min-width: @screen-desktop) {
            width: 7em;
            padding: 7em; 
        }
    }

    .hero-image-small-0 {
        display: none;

        @media only screen and (min-width: 630px) {
            top: 16em;
            left: 38%; 
            display: block;
            background: transparent url('../../img/hero_small_0_190.jpg') 0 0 no-repeat;
        }

        @media only screen and (min-width: @screen-tablet) {
            top: 5em; 
            background: transparent url('../../img/hero_small_0_213.jpg') 0 0 no-repeat;
        }
    }

    .hero-image-small-1 {
        top: 11.5em; 
        left: 1.2em;
        background: transparent url('../../img/hero_small_1_130.jpg') 0 0 no-repeat;

        .animation(myOrbit, 20s infinite, 1s, linear);

        @media only screen and (min-width: 375px) {
            top: 2.5em;
            left: 2.2em; 
            background-image: url('../../img/hero_small_1_150.jpg');
        }
        @media only screen and (min-width: @screen-mobile) {
            top: 8em;
            left: 2.2em; 
            background-image: url('../../img/hero_small_1_190.jpg');
        }

        @media only screen and (min-width: @screen-tablet) {
            top: 12em;
            left: 12%; 
        }

        @media only screen and (min-width: 993px) {
            left: 20%; 
        }
    }
    .hero-image-small-2 {
        top: 11.5em; 
        right: 1.2em;
        background: transparent url('../../img/hero_small_2_130.jpg') 0 0 no-repeat;

        .animation(myOrbit, 26s infinite, 2s, linear);

        @media only screen and (min-width: 375px) {
            top: 2.5em;
            right: 2.2em; 
            background-image: url('../../img/hero_small_2_150.jpg');
        }
        @media only screen and (min-width: @screen-mobile) {
            top: 8em;
            right: 2.2em; 
            background-image: url('../../img/hero_small_2_190.jpg');
        }
        
        @media only screen and (min-width: @screen-tablet) {
            top: 12em;
            left: 68%; 
            right: auto;
        }

        @media only screen and (min-width: 993px) {
            left: 60%;
        }
    }
    .hero-image-small-3 {
        top: 26em;
        left: 1.2em; 
        background: transparent url('../../img/hero_small_3_130.jpg') 0 0 no-repeat;

        .animation(myOrbit, 36s infinite, 1.5s, linear);

        @media only screen and (min-width: 375px) {
            top: 22em;
            left: 2.2em; 
            background-image: url('../../img/hero_small_3_150.jpg');
        }
        @media only screen and (min-width: @screen-mobile) {
            top: 30em;
            left: 2.2em; 
            background-image: url('../../img/hero_small_3_190.jpg');
        }

        @media only screen and (min-width: @screen-tablet) {
            top: 25.2em;
            left: 27%; 
            bottom: auto;
        }

        @media only screen and (min-width: 930px) {
            left: 32%;
        }

        @media only screen and (min-width: @screen-desktop) {
        }
    }
    .hero-image-small-4 {
        top: 26em;
        right: 1.2em; 
        background: transparent url('../../img/hero_small_4_130.jpg') 0 0 no-repeat;

        .animation(myOrbit, 16s infinite, 3s, linear);
        
        @media only screen and (min-width: 375px) {
            top: 22em;
            right: 2.2em; 
            background-image: url('../../img/hero_small_4_150.jpg');
        }

        @media only screen and (min-width: @screen-mobile) {
            top: 30em;
            right: 2.2em; 
            background-image: url('../../img/hero_small_4_190.jpg');
        }

        @media only screen and (min-width: @screen-tablet) {
            top: 25.2em;
            left: 52%; 
            bottom: auto;
            right: auto;
        }

        @media only screen and (min-width: 930px) {
            left: 50%;
        }

        @media only screen and (min-width: @screen-desktop) {
        }
    }

    .hero-image-box {
        position: absolute;
        background: rgba(253, 142, 6, 0.85); 
        padding: 2.5em;
        text-align: center;
        bottom: 0;
        width: 100%;

        h1 {
            font-size: 2.5em;
            line-height: 1em;
            font-weight: 300;
            padding: 0
            margin: 0 0 15px 0;
            color: white;
        }

        @media only screen and (min-width: @screen-desktop) {
            bottom: 35%; 
        }

    }
}

.hero-image-indikace {
    padding-top: 3em;
    padding-bottom: 3em;
    background: transparent url('../../img/hero_indikace_sm.jpg') 0 0 no-repeat;
    background-size: cover;
    height: auto;

    @media only screen and (max-width: 1199px) {
        .container {
            width: auto; 
            margin: 0;
        } 
    }

    @media only screen and (min-width: 375px) {
        background-image: url('../../img/hero_indikace_sm_m.jpg'); 
        height: 594px;
    }

    @media only screen and (min-width: @screen-mobile) {
        background-image: url('../../img/hero_indikace_sm.jpg'); 
        height: 594px; 
    }

    @media only screen and (min-width: @screen-tablet) {
        background-image: url('../../img/hero_indikace_l.jpg'); 
        background-size: cover;
        height: 573px;
    }

    @media only screen and (min-width: @screen-desktop) {
        background-image: url('../../img/hero_indikace.jpg'); 
        background-size: cover;
        height: 573px;
    }

    .hero-image-box {
        position: static; 
        padding: 18px 0 13px 0;

        h1 {
            margin: 0; 
        }

        @media only screen and (min-width: 1200px) {
            width: 70%; 
            margin: 0 auto;
            position: relative;
            z-index: 100;
            background: @link-orange;
        }
    }

    .hero-article-heading {
        font-size: 2em;
        color: @text-black; 
        text-align: center;
        font-weight: 300;
        margin-top: 0;
    }

    .section {
        background-color: rgba(248, 248, 248, .8); 
        padding-top: 3em;
        padding-bottom: 1em;
        height: auto;

        a {
            color: @link-orange;  
            font-style: normal;
        }

        p {
            font-style: italic; 
            font-weight: 700;
            font-size: 1.4em;
        }

        

        @media only screen and (min-width: 1200px) {
            margin-top: -28px;     
            padding-top: 4.4em;

            .with-border {
                border-right: 1px solid @link-orange;  
            }
        }
    }

    .tags-box {
        padding: 0em 2em 5em 2em; 
        background-color: rgba(248, 248, 248, .8); 
    }
}

.hero-image-indikace-imunita {
    background: transparent url('../../img/hero_imunita_sm.jpg') -210px 100px no-repeat;
    background-size: cover;

    @media only screen and (min-width: 375px) {
        background-image: url('../../img/hero_imunita_sm_m.jpg'); 
        height: 594px;
    }

    @media only screen and (min-width: @screen-mobile) {
        background-image: url('../../img/hero_imunita_sm.jpg'); 
        height: 594px; 
    }

    @media only screen and (min-width: @screen-tablet) {
        background-image: url('../../img/hero_imunita.jpg'); 
        background-position: -135px 0;
        background-size: auto;
        height: 573px;
    }
}

.hero-image-pestovani {
    background: transparent url('../../img/hero_pestovani_sm.jpg') -500px 0 no-repeat;
    background-size: cover;

    @media only screen and (min-width: 375px) {
        background-image: url('../../img/hero_pestovani_sm_m.jpg'); 
        background-position: -300px 0 ;
        height: 594px;
    }

    @media only screen and (min-width: @screen-mobile) {
        background-image: url('../../img/hero_pestovani_sm.jpg'); 
        height: 594px; 
    }

    @media only screen and (min-width: @screen-tablet) {
        background-image: url('../../img/hero_pestovani.jpg'); 
        background-position: 0 0 ;
        height: 860px;
    }

    @media only screen and (min-width: @screen-desktop) {
        background-image: url('../../img/hero_pestovani_l.jpg'); 
        background-position: 0 0 ;
        height: 745px;
    }

    .section {
        padding-top: 1em; 

        .hero-article-heading {
            font-size: 2.8em;
            color: @link-orange; 
            text-decoration: underline;
        }

        h3 {
            font-size: 2em; 
            color: @link-orange;
            font-weight: 300;
            margin-top: .3em;
            margin-bottom: .3em;
        }

        p {
            font-style: normal; 
            font-size: 1.4em;
            font-weight: 500;
            line-height: 1.6em;
            color: #000;

            a {
                font-style: italic; 
            }
        }
    }

    @media only screen and (min-width: 1200px) {
        .section {
            margin-top: 0; 
        }
    }
}

.hero-image-indikace-zazivani {
    background: transparent url('../../img/hero_zazivani_sm.jpg') -457px 0 no-repeat;
    background-size: cover;

    @media only screen and (min-width: 375px) {
        background-position: -150px;
        height: 594px;
    }

    @media only screen and (min-width: @screen-mobile) {
        background-image: url('../../img/hero_zazivani_sm.jpg'); 
        height: 594px; 
    }

    @media only screen and (min-width: @screen-tablet) {
        background-image: url('../../img/hero_zazivani.jpg'); 
        background-position: -135px 0;
        background-size: auto;
        height: 573px;
    }

    @media only screen and (min-width: @screen-desktop) {
        background-position: -170px 0; 
    }
}

.hero-image-indikace-srdce {
    background: transparent url('../../img/hero_srdce_sm.jpg') -220px 0 no-repeat;
    background-size: cover;

    @media only screen and (min-width: 375px) {
        background-position: 0px 0;
        height: 594px;
    }

    @media only screen and (min-width: @screen-mobile) {
        background-image: url('../../img/hero_srdce_sm.jpg'); 
        height: 594px; 
    }

    @media only screen and (min-width: @screen-tablet) {
        background-image: url('../../img/hero_srdce.jpg'); 
        background-position: 0 0;
        background-size: auto;
        height: 573px;
    }

    @media only screen and (min-width: @screen-desktop) {
        background-position: 0 0; 
    }
}

.hero-image-menu-fix {
    margin-top: 7em;

    @media only screen and (min-width: @screen-desktop) {
        margin-top: 0;  
    }
}

.hero-image-base() {
    position: absolute;
    border: 0.5em solid white;
}

.circle-after(@width) {
    content: "";
    display: block;
    height: 0;

}

@sStep: .35em;
@sStepN: -0.35em;
@lStep: .8em;
@lStepN: -.8em;
@-webkit-keyframes myOrbit {
    0% {
        .translate3d(0); 
    }

    7% {
        .translate3d(@sStepN, @sStep); 
    }
    
    14% {
        .translate3d(@sStep, @sStepN); 
    } 

    25% {
        .translate3d(@lStep, @sStepN); 
    }

    32% {
        .translate3d(@sStep, @sStep); 
    }

    39% {
        .translate3d(@lStep, @sStepN); 
    }

    46% {
        .translate3d(0, @lStepN); 
    }

    60% {
        .translate3d(@lStep); 
    }

    67% {
        .translate3d(0, @lStepN); 
    }

    81% {
        .translate3d(@lStepN, 0); 
    }

    90% {
        .translate3d(@sStepN, @sStep); 
    }

    100% {
        .translate3d(0); 
    }
}

@-moz-keyframes myOrbit {
    0% {
        .translate3d(0); 
    }

    7% {
        .translate3d(@sStepN, @sStep); 
    }
    
    14% {
        .translate3d(@sStep, @sStepN); 
    } 

    25% {
        .translate3d(@lStep, @sStepN); 
    }

    32% {
        .translate3d(@sStep, @sStep); 
    }

    39% {
        .translate3d(@lStep, @sStepN); 
    }

    46% {
        .translate3d(0, @lStepN); 
    }

    60% {
        .translate3d(@lStep); 
    }

    67% {
        .translate3d(0, @lStepN); 
    }

    81% {
        .translate3d(@lStepN, 0); 
    }

    90% {
        .translate3d(@sStepN, @sStep); 
    }

    100% {
        .translate3d(0); 
    }
}

@-o-keyframes myOrbit {
    0% {
        .translate3d(0); 
    }

    7% {
        .translate3d(@sStepN, @sStep); 
    }
    
    14% {
        .translate3d(@sStep, @sStepN); 
    } 

    25% {
        .translate3d(@lStep, @sStepN); 
    }

    32% {
        .translate3d(@sStep, @sStep); 
    }

    39% {
        .translate3d(@lStep, @sStepN); 
    }

    46% {
        .translate3d(0, @lStepN); 
    }

    60% {
        .translate3d(@lStep); 
    }

    67% {
        .translate3d(0, @lStepN); 
    }

    81% {
        .translate3d(@lStepN, 0); 
    }

    90% {
        .translate3d(@sStepN, @sStep); 
    }

    100% {
        .translate3d(0); 
    }
}

@keyframes myOrbit {
    0% {
        .translate3d(0); 
    }

    7% {
        .translate3d(@sStepN, @sStep); 
    }
    
    14% {
        .translate3d(@sStep, @sStepN); 
    } 

    25% {
        .translate3d(@lStep, @sStepN); 
    }

    32% {
        .translate3d(@sStep, @sStep); 
    }

    39% {
        .translate3d(@lStep, @sStepN); 
    }

    46% {
        .translate3d(0, @lStepN); 
    }

    60% {
        .translate3d(@lStep); 
    }

    67% {
        .translate3d(0, @lStepN); 
    }

    81% {
        .translate3d(@lStepN, 0); 
    }

    90% {
        .translate3d(@sStepN, @sStep); 
    }

    100% {
        .translate3d(0); 
    }
}
