.section {
    padding: 3em 2em 5em 2em;
    height: 100%;
    position: relative;

    .section-heading {
        font-size: 3em;
        font-weight: 300;
        color: @link-orange;  
        text-align: center;
        margin-top: 0;
    }

    .article {
        .article-heading {
            font-size: 3em;
            font-weight: 300;
            color: @link-orange;  
            text-align: center;
            margin-top: 0;
        } 

        .article-heading-left {
            text-align: left; 
        }

        .article-content {
            font-size: 1.6em;
            font-weight: 500; 
            text-align: left;
            line-height: 1.4em;
            color: @link-black; 
        }

        .article-content-italic {
            font-style: italic; 

            .text-orange {
                color: @link-orange;  
            }
        }
    }

    .article-box {
        background-color: rgba(165, 131, 120, .7); 
        padding: 3.5em;
        margin-top: 2.5em;
        margin-bottom: 2.5em;
        
        .article-heading {
            color: @text-white; 
            font-weight: 300;
        }

        .article-content {
            font-style: italic; 

            a {
                font-weight: 700;
                color: @text-black;
            }
        }

        &:first {
            margin-top: 0; 
        }
    }

    .article-box + .article-box {
        @media only screen and (min-width: @screen-desktop) {
            margin-top: 50%; 
        } 
    }

    .article-box:nth-child(even) {
        @media only screen and (min-width: @screen-desktop) {
            float: right;
        }
    }

    .article-box-orange {
        background-color: rgba(254, 163, 0, .8);

        h4 {
            font-size: 1.6em;
            color: @text-black; 
            margin-top: .5em;
            margin-bottom: .5em;
        }

        .button {
            background-color: #a66a00;
        }
    }

    .article-box-white {
        background-color: rgba(237, 237, 237, 0.8); 
    }

    .buttons-center {
        text-align: center; 

        .button {
            margin-bottom: 1em;
            margin-left: 1em;
            margin-right: 1em; 
            padding-left: 1em;
            padding-right: 1em;
        }
    }
}

.section-border-top {
    border-top: 1px solid #e9e9e9;
}

.section-gray {
    .section-heading {
        position: absolute;
        display: block;
        background: @link-orange;

        top: -1em;

        font-weight: 300;
        font-size: 3em;
        line-height: 1.8em;
        color: @text-white; 
        text-align: center;
    }
}

.section-indikace {
    .indikace-heading {
        font-size: 2em; 
        font-weight: 300;
        margin-bottom: 0.2em;
    }

    .indikace-content {
        margin-top: 0.2em;
        font-size: 1.4em; 
        font-weight: 500;
    }

    @media only screen and (min-width: 1200px) {
        .with-border {
            border-right: 1px solid #efaf7c; 
        }

        .with-padding {
            padding-left: 2.5em; 
        }
    }
}

.pestovani .section-recepty {
    article {
        .article-heading {
            font-size: 1.4em;  
            text-align: left;
        } 

        .article-content {
            margin-bottom: 36px; 
        }
    }
}

.rakytnik-image {
    background: transparent url('../../img/rakytnik_sm.png') 0 0 no-repeat;
    width: 260px;
    height: 201px;
    margin-bottom: 3em;

    @media only screen and (min-width: @screen-tablet) {
        margin-top: 3em;
        background: transparent url('../../img/rakytnik_lg.png') 0 0 no-repeat;
        width: 419px;
        height: 323px;
    }

    @media only screen and (min-width: @screen-desktop) {
        float: right;
    }
}

.experience {
    .rakytnik-image {
        @media only screen and (min-width: @screen-desktop) {
            float: none;
            background: transparent url('../../img/rakytnik_sm.png') 0 0 no-repeat;
            width: 260px;
            height: 201px;
        } 
    }

    .box-terezia, .box-tags-footer {
        .section {
            @media only screen and (min-width: @screen-desktop) {
                padding-top: 1.5em;
                padding-left: 1.5em;
                padding-right: 1.5em; 
                padding-bottom: 1.5em;
            } 
        }

        .article {
            @media only screen and (min-width: @screen-desktop) {
                padding-left: 0;
                padding-right: 0;
            }


            .article-heading {
                font-size: 2.6em;
                font-weight: 300; 
            } 
        }
    }
}

.pestovani {
    .parallax-transparent .section {
        padding-bottom: 0; 
    }

    #pestovani-2 .section {
        padding-top: 0; 
    }
}

.questions {
    h1.article-heading {
        width: auto;
        text-align: center; 
        text-decoration: none;
    }
}
